@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 7.5vh;
  --min-page-height: calc(100vh - var(--footer-height));
  --max-w-md: 28rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.PRODUCER {
  --color-default: #3E5155;
  --color-primary: #545F71;
  --color-secondary: #eef1f4;
  --color-background: #F7F7F7;
}

.CDD {
  --color-default: #3E5155;
  --color-primary: #545F71;
  --color-secondary: #eef1f4;
  --color-background: #F7F7F7;
}