:root {
    --black: #1D1D1D;
    --dark-green: #222629;
    --gray: #ced0cf;
    --white: #E5E5E5;
}


@page {
    margin: 5mm;
    margin-top: 2.7cm;
}

body {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
}

.page-break {
    page-break-after: avoid;
}

.delivery-bag {
    border: 1px solid #000;
    padding: 10px;
}

.bag-header {
    font-weight: bold;
}

.bag-content {
    margin-left: 10px;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.bairro-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--dark-green);
    color: var(--white);
    width: 100%;
    height: 1.35cm;
    border-radius: 3.7mm;
    margin-block: 0;
    margin-top: 15px;
    /* padding-left: 30px; */
}

.bairro-title h3 {
    font-size: 22pt;
    padding-left: 30px;
}

.delivery-bag {
    border: 1px solid var(--black);
    border-radius: 3.7mm;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.bag-header {
    margin: 0;
    padding: 0;
    border-radius: calc(3.7mm - 1px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    color: var(--black);
    padding-left: 30px;
    height: .85cm;
    border-bottom: 1px solid var(--black);
    font-size: 12pt;
}

.bag-header h4 {
    font-size: 12pt;
}

.bag-header p {
    font-size: 8pt;
    font-weight: lighter;
    padding-right: 40px;
    align-self: flex-start;
}

.bag-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 1.5cm;
    width: 100%;
}

.bag-content>div {
    margin: 0;
    padding: 0;
    height: inherit;
    border-right: 1px solid var(--black);
}

.bag-content>div:last-child {
    border-right: none;
}

.bag-info {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bag-info h5 {
    margin-top: 5px;
}

.bag-info p {
    margin-bottom: 5px;
}

.bag-info>* {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 17px;
    font-weight: normal;

}

.bag-info--pedido {
    width: 15%;
}

.bag-info--pedido p {
    font-size: 12pt;
    font-weight: bolder;
}

.bag-info--cliente {
    width: 19.5%;
}

.bag-info--conteudo {
    width: 40%;
}

.bag-info--pagamento {
    width: 15.5%;
}

.bag-info--cobrar {
    width: 20%;
}

.bag-info--cobrar p {
    font-size: 12pt;
    font-weight: bolder;
}