@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* .fullSidebar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
} */

a {
  color: inherit;
  text-decoration: none;
}

.inter-font {
  font-family: 'Inter', sans-serif;
  /* Outros estilos da fonte Inter, como tamanho, peso, etc. */
}

.ecoo-text-sm {
  @apply font-normal;
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.ecoo-text-button {
  @apply font-semibold;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.ecoo-text-base {
  @apply text-sm;
  @apply font-normal;
}

.ecoo-text-title {
  @apply text-3xl;
  @apply font-semibold;
}